.usersPage {
    display: grid;
    grid-template-columns: 250px 1fr 270px;
    height: 100%;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

#sectionOne {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
}

.--left-side-header {
    margin-top: 7rem;
    position: absolute;
    left: 20px;
}

.--user-settings {
    margin-top: 6rem;
    position: absolute;
    left: 6px;
}

// sectionTWO //

#sectionTwo {
    // background-color:  aqua;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
}

.--middle-side-header {
    margin-top: 3rem;
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
}

.--middle-side-image {
    margin-top: 5rem;
    text-align: center;
    margin-right: 4rem;
}
.--middle-side-amount {
    margin-top: 3rem;
    text-align: center;
}

.--middle-side-icons {
    display: flex;
    margin-top: 3rem;
    gap: 45px;
    margin-left: 28rem;
    font-size: 5rem;
}

.--middle-side-notification {
    display: flex;
    margin-top: 3rem;
    gap: 15rem;
    justify-content: space-around;
}

// Section three


#thirds {
    background-color: bisque;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
}

.--right-side-header {
    margin-top: 7rem;
    position: absolute;
}

.--right-side-amount {
    margin-left: 20px;
    margin-top: 25px;
}


::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}