@media screen and (min-device-width: 350px) {
    .usersPage {
        height: 100%;
        background-color: var(--bg-color);
        color: var(--primary-text-color);
    }
    
    #sectionOne {
        display: none;
    }
    
    .--left-side-header {
        margin-top: 7rem;
        position: absolute;
        left: 20px;
    }
    
    .--user-settings {
        margin-top: 6rem;
        position: absolute;
        left: 6px;
    }
    
    .--middle-side-header {
        margin-top: 3rem;
        justify-content: space-around;
    }
    
    .--middle-side-image {
        margin-top: 3rem;
        width: 5rem;
        text-align: center;
        margin-right: rem;
    }

    .--middle-side-image img {
        width: 34rem;
        margin-left: 2rem;
    }

    .--middle-side-amount {
        margin-top: 3rem;
        text-align: center;
    }
    
    .--middle-side-icons {
        display: flex;
        margin-top: 3rem;
        gap: 45px;
        margin-left: 6rem;
        font-size: 5rem;
    }
    
    .--middle-side-notification {
        display: flex;
        margin-top: 5rem;
        gap: 7rem;
        justify-content: space-around;
    }
    
    // Section three
    
    
    #sectionThree {
        display: none;
    }
    
    .--right-side-header {
        margin-top: 7rem;
        position: absolute;
    }
    
    .--right-side-amount {
        margin-left: 20px;
        margin-top: 25px;
    }

    .usersAuth {
        margin-top: 5rem;
        display: flex;
        gap: 7px;
        margin-left: 2rem;
    }
    
    .usersP {
        margin-left: 9rem;
        margin-top: -2rem;
    }
    
    ::-webkit-scrollbar {
        display: none;
        scroll-behavior: smooth;
    }

    .--middleLast {
        display: block;
        display: flex;
        justify-content: space-around;
    }

    .--middleLast-second {
        margin-top: 5rem;
        gap: 10px;
        display: flex;
    }

    .--middleLast-first {
        display: flex;
        gap: 10px;
        margin-top: 5rem;
        margin-left: 2rem;
        margin-bottom: 3rem;
    }
}




@media screen and (min-device-width: 1030px) {
    .usersPage {
        display: grid;
        grid-template-columns: 250px 1fr 270px;
        height: 100%;
        overflow: hidden;
        background-color: var(--bg-color);
        color: var(--primary-text-color);
    }
    
    #sectionOne {
        display: block;
        height: 100vh;
        overflow: scroll;
        overflow-x: hidden;
        box-sizing: content-box;
    }
    
    .--left-side-header {
        margin-top: 7rem;
        position: absolute;
        left: 20px;
    }
    
    .--user-settings {
        margin-top: 6rem;
        position: absolute;
        left: 6px;
    }
    
    // sectionTWO //
    
    #sectionTwo {
        height: 100vh;
        overflow: scroll;
        overflow-x: hidden;
        box-sizing: content-box;
    }
    
    .--middle-side-header {
        margin-top: 3rem;
        margin-right: 3rem;
        display: flex;
        justify-content: space-between;
    }
    
    .--middle-side-image {
        margin-top: 5rem;
        text-align: center;
        margin-right: 4rem;
    }

    .--middle-side-image img {
        width: 75rem;
        // margin-left: 2.5rem;
    }

    .--middle-side-amount {
        margin-top: 3rem;
        text-align: center;
    }
    
    .--middle-side-icons {
        display: flex;
        margin-top: 3rem;
        gap: 45px;
        margin-left: 28rem;
        font-size: 5rem;
    }
    
    .--middle-side-notification {
        display: flex;
        margin-top: 3rem;
        gap: 15rem;
        justify-content: space-around;
    }
    
    // Section three
    
    
    #sectionThree {
        display: block;
        height: 100vh;
        overflow: scroll;
        overflow-x: hidden;
        box-sizing: content-box;
    }
    
    .--right-side-header {
        margin-top: 7rem;
        position: absolute;
    }
    
    .--right-side-amount {
        margin-left: 20px;
        margin-top: 25px;
    }
    
    
    ::-webkit-scrollbar {
        display: none;
        scroll-behavior: smooth;
    }

    .usersAuth {
        margin-top: -0rem;
        display: flex;
        gap: 15px;
        margin-left: 2rem;
    }

    .usersP {
        margin-left: 9.5rem;
        margin-top: -2rem;
    }

    .--middleLast {
        display: none;
    }
}