.--all-settings-first {
    gap: 10px;
    display: flex;
}

.--all-settings-style {
    margin-top: 3.5rem;
    gap: 10px;
    display: flex;
}

.--all-settings-style:hover{
    background-color: green;
    transition: 0.7s;
    cursor: pointer;
}

.--all-settings-style h4:hover{
    color: white;
}

.--text-weight {
    font-weight: 200;
}

.--support {
    margin-top: 6rem;
    gap: 10px;
}

.--all-settings-last {
    display: flex;
    gap: 10px;
    margin-top: 5rem;
    margin-left: 5rem;
}

.--notification-btn {
    padding: 2px;
    margin: 2px;
    border: 2px solid red;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    background-color: red;
    color: white;
}

.--last-h4 {
    color: red;
}