@media screen and (min-width: 350px) {
  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .--send-crypto-page {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .--flex-contents {
    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
  }

  .--flex-contents-details {
    display: flex;
    margin: 6px;
    justify-content: space-between;
    margin-top: 1.3rem;
  }

  .--gif-image {
    width: 16.2rem;
    margin-left: 1rem;
    height: 14rem;
  }
}



@media screen and (min-width: 1030px) {
  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .--send-crypto-page {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .--flex-contents {
    margin-top: 5rem;
    margin-right: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }

  .--flex-contents-details {
    display: flex;
    margin: 15px;
    justify-content: space-between;
    margin-top: 1.3rem;
  }

  .--gif-image {
    width: 22rem;
    margin-left: 1.5rem;
    height: 17rem;
  }
}
